src/BP.annotation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2018 EMBL - European Bioinformatics Institute
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
  ~ file except in compliance with the License. You may obtain a copy of the License at
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~ Unless required by applicable law or agreed to in writing, software distributed under the
  ~ License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  ~ CONDITIONS OF ANY KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations under the License.
  -->

<!-- version:1.11.0 -->
<xs:schema xmlns:com="SRA.common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="SRA.common" schemaLocation="SRA.common.xsd"/>

    <xs:complexType name="AnnotationFileType">
        <xs:attribute name="filename" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The file name. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="filetype" use="required">
            <xs:annotation>
                <xs:documentation>The type of the file.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="dcm"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="checksum_method" use="required">
            <xs:annotation>
                <xs:documentation>The checksum method. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="MD5">
                        <xs:annotation>
                            <xs:documentation> Checksum generated by the MD5 method (md5sum in
                                unix). </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="checksum" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The file checksum.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="unencrypted_checksum" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>The checksum of the unencrypted file (used in conjunction with the checksum of an encrypted file).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="checklist" type="xs:string">
            <xs:annotation>
                <xs:documentation>The name of the checklist.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="AnnotationSetType">
        <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="ANNOTATION" type="AnnotationType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ANNOTATION_SET" type="AnnotationSetType">
        <xs:annotation>
            <xs:documentation>A container of analysis objects. </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ANNOTATION" type="AnnotationType"/>
    <xs:complexType name="AnnotationType">
        <xs:annotation>
            <xs:documentation>A BP annotation object captures annotation objects.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="com:ObjectType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="TITLE" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Title of the annotation object which will be displayed in
                        search results. </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="DESCRIPTION" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Describes the annotation in detail.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="STUDY_REF" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Identifies the parent study.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="com:RefObjectType"> </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="IMAGE_REF" maxOccurs="unbounded" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>One or more images associated with the
                        annotation.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="com:RefObjectType">
                                    <xs:attribute name="label" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>A label associating the image with image references in data files.</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ANNOTATION_REF" maxOccurs="unbounded" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>One or more annotations associated with the
                        annotation.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="com:RefObjectType">
                                    <xs:attribute name="label" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>A label associating the analysis with analysis references in data files.</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="ANALYSIS_TYPE">
                        <xs:annotation>
                            <xs:documentation>The type of the analysis. </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:choice>
                                <xs:element name="GRAPHICAL_ANNOTATION"></xs:element>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                    <xs:sequence>
                        <xs:element name="FILES">
                            <xs:annotation>
                                <xs:documentation>Files associated with the
                                        image.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>

                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="1" name="FILE"
                                        type="AnnotationFileType"/>
                                </xs:sequence>

                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="ANNOTATION_LINKS">
                        <xs:annotation>
                            <xs:documentation> Links to resources related to this annotation.
                    </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence minOccurs="1">
                                <xs:element name="ANNOTATION_LINK" type="com:LinkType"
                                    maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="ANNOTATION_ATTRIBUTES">
                        <xs:annotation>
                            <xs:documentation>Properties and attributes of an annotation. These can be
                        entered as free-form tag-value pairs.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence minOccurs="1">
                                <xs:element name="ANNOTATION_ATTRIBUTE" type="com:AttributeType"
                                    maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="annotation_center" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>If applicable, the center name of the institution responsible
                    for this annotation. </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="annotation_date" type="xs:dateTime" use="optional">
                    <xs:annotation>
                        <xs:documentation>The date when this annotation was produced. </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
