src/BP.common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sra="SRA.common" xmlns:bp="BP.common" targetNamespace="BP.common">
<xs:import schemaLocation="SRA.common.xsd" namespace="SRA.common"/>


    <xs:simpleType name="ChecksumString">
      <xs:restriction base="xs:string">
        <xs:pattern value='[0-9a-f]{64}'/>
      </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="FileBaseType">
        <xs:attribute name="filename" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The file name.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="checksum_method" use="required">
            <xs:annotation>
                <xs:documentation>The checksum method.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="SHA256">
                        <xs:annotation>
                            <xs:documentation> Checksum generated by the SHA256 method.</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="checksum" type="bp:ChecksumString" use="required">
            <xs:annotation>
                <xs:documentation>The file checksum.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="unencrypted_checksum" type="bp:ChecksumString" use="optional">
            <xs:annotation>
                <xs:documentation>The checksum of the unencrypted file (used in conjunction with the checksum of an encrypted file).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="AttributeBaseType">
        <xs:annotation>
            <xs:documentation>
                Reusable attribute type with a tag.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TAG" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Name of the attribute.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NumericAttributeType">
        <xs:annotation>
            <xs:documentation>
                Reusable attributes to encode tag-numeric value pairs with optional units.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="bp:AttributeBaseType">
                <xs:sequence>
                    <xs:element name="VALUE" type="xs:decimal" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                Value of the attribute.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UNITS" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                Optional scientific units.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CodedAttributeType">
        <xs:annotation>
            <xs:documentation>
                Reusable attributes to encode tag-code value pairs.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="bp:AttributeBaseType">
                <xs:sequence>
                    <xs:element name="CODE" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                Code of the attribute.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SCHEME" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                Scheme designator of the attribute.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MEANING" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                Cleartext meaning of the attribute.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SCHEME_VERSION" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                Optional scheme version of the attribute.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AttributeSetType">
        <xs:annotation>
            <xs:documentation>
                Reusable set of attributes to encode multiple tag-value or tag-code value pairs.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="bp:AttributeBaseType">
                <xs:sequence minOccurs="1" maxOccurs="unbounded">
                    <xs:choice>
                        <xs:element name="ATTRIBUTE" type="sra:AttributeType" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    Attribute in the set.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="NUMERIC_ATTRIBUTE" type="bp:NumericAttributeType" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    Numeric attribute in the set.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="CODED_ATTRIBUTE" type="bp:CodedAttributeType" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    Coded attribute in the set.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ATTRIBUTE_SET" type="bp:AttributeSetType" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    Attribute set in the set.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BPCodedAttributesType">
        <xs:annotation>
            <xs:documentation>
                Coded attributes of an object.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:choice>
                <xs:element name="CODED_ATTRIBUTE" type="bp:CodedAttributeType"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BPAttributesType">
        <xs:annotation>
            <xs:documentation>
                Attributes of an object. These can be string, code, numeric, or set.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:choice>
                <xs:element name="ATTRIBUTE" type="sra:AttributeType"/>
                <xs:element name="CODED_ATTRIBUTE" type="bp:CodedAttributeType"/>
                <xs:element name="NUMERIC_ATTRIBUTE" type="bp:NumericAttributeType"/>
                <xs:element name="ATTRIBUTE_SET" type="bp:AttributeSetType"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BPObjectType">
        <xs:annotation>
          <xs:documentation>
            Extends SRA ObjectType with BP attributes.
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
          <xs:extension base="sra:ObjectType">
            <xs:sequence>
              <xs:element name="ATTRIBUTES" minOccurs="0" maxOccurs="1" type="bp:BPAttributesType">
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

</xs:schema>
