src/BP.dataset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="SRA.common" xmlns:bp="BP.common">
	<xs:import schemaLocation="SRA.common.xsd" namespace="SRA.common"/>
	<xs:import namespace="BP.common" schemaLocation="BP.common.xsd"/>

	<xs:include schemaLocation="EGA.dataset.xsd"/>

	<xs:complexType name="BPDatasetType">
		<xs:annotation>
			<xs:documentation>Describes an object that contains the samples in the data set.
    </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DatasetType">
				<xs:sequence>
					<xs:element minOccurs="0" name="DATASET_TYPE" maxOccurs="unbounded">
						<xs:simpleType>
							<xs:restriction base="xs:string">
							<xs:enumeration value="Whole slide imaging"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="IMAGE_REF"
						nillable="false">
						<xs:annotation>
							<xs:documentation>
						Identifies the images which are part of this dataset.
					</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="com:RefObjectType">
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="ANNOTATION_REF"
						nillable="false">
						<xs:annotation>
							<xs:documentation>
						Identifies the annotations which are part of this dataset.
					</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="com:RefObjectType">
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="DATASET_CODED_ATTRIBUTES" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Coded properties and attributes of the data set. These can be entered as tag-code value pairs. Submitters may be asked to follow a community established ontology when describing the work.          </xs:documentation>
						</xs:annotation>
						<xs:complexType>
						  <xs:sequence maxOccurs="unbounded" minOccurs="1">
							<xs:element name="DATASET_CODED_ATTRIBUTE" type="bp:CodedAttributeType"/>
						  </xs:sequence>
						</xs:complexType>
					  </xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="BPDatasetsType">
		<xs:sequence maxOccurs="unbounded" minOccurs="1">
			<xs:element ref="BPDATASET"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BPDATASETS" type="BPDatasetsType">
		<xs:annotation>
			<xs:documentation>Container for a set of data sets.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BPDATASET" type="BPDatasetType"/>
</xs:schema>
