src/BP.observation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="SRA.common" xmlns:bp="BP.common">
    <xs:import namespace="SRA.common" schemaLocation="SRA.common.xsd"/>
    <xs:import namespace="BP.common" schemaLocation="BP.common.xsd"/>

    <xs:complexType name="ObservationFileType">
        <xs:attribute name="filename" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The file name.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="filetype" use="required">
            <xs:annotation>
                <xs:documentation>The type of the file.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="dcm"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="checksum_method" use="required">
            <xs:annotation>
                <xs:documentation>The checksum method.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="MD5">
                        <xs:annotation>
                            <xs:documentation> Checksum generated by the MD5 method (md5sum in unix).</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="checksum" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The file checksum.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="unencrypted_checksum" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>The checksum of the unencrypted file (used in conjunction with the checksum of an encrypted file).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="checklist" type="xs:string">
            <xs:annotation>
                <xs:documentation>The name of the checklist.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ObservationSetType">
        <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="OBSERVATION" type="ObservationType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="OBSERVATION_SET" type="ObservationSetType">
        <xs:annotation>
            <xs:documentation>A container of observation objects.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OBSERVATION" type="ObservationType"/>
    <xs:complexType name="ObservationType">
        <xs:annotation>
            <xs:documentation>A BP observation object captures observation objects.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="com:ObjectType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="TITLE" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Title of the observation object which will be displayed in search results.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="DESCRIPTION" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Describes the observation in detail.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="STUDY_REF" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Identifies the parent study.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="com:RefObjectType"> </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="SAMPLE_REF" maxOccurs="unbounded" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>One of more samples associated with the observation.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="com:RefObjectType">
                                    <xs:attribute name="label" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation></xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ANNOTATION_REF" maxOccurs="unbounded" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>One of more annotations associated with the observation.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="com:RefObjectType">
                                    <xs:attribute name="label" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation></xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="OBSERVATION_REF" maxOccurs="unbounded" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>One of more observations associated with the observation.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="com:RefObjectType">
                                    <xs:attribute name="label" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation></xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="OBSERVATION_TYPE">
                        <xs:annotation>
                            <xs:documentation>The type of the observation.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:choice>
                                <xs:element name="DIAGNOSIS"></xs:element>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                    <xs:sequence>
                        <xs:element name="FILES">
                            <xs:annotation>
                                <xs:documentation>Files associated with the observation.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="1" name="FILE" type="ObservationFileType"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="OBSERVATION_LINKS">
                        <xs:annotation>
                            <xs:documentation> Links to resources related to this observation.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence minOccurs="1">
                                <xs:element name="OBSERVATION_LINK" type="com:LinkType"
                                    maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="OBSERVATION_ATTRIBUTES">
                        <xs:annotation>
                            <xs:documentation>Properties and attributes of an observation. These can be entered as free-form tag-value pairs.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence minOccurs="1">
                                <xs:element name="OBSERVATION_ATTRIBUTE" type="com:AttributeType" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="OBSERVATION_CODED_ATTRIBUTES">
                        <xs:annotation>
                            <xs:documentation>Coded properties and attributes of an observation. These can be entered as tag-coded value pairs.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence minOccurs="1">
                                <xs:element name="OBSERVATION_CODED_ATTRIBUTE" type="bp:CodedAttributeType" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="observation_center" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>If applicable, the center name of the institution responsible for this observation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="observation_date" type="xs:dateTime" use="optional">
                    <xs:annotation>
                        <xs:documentation>The date when this observation was produced.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
