src/BP.observation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="SRA.common" xmlns:bp="BP.common">
    <xs:import namespace="SRA.common" schemaLocation="SRA.common.xsd"/>
    <xs:import namespace="BP.common" schemaLocation="BP.common.xsd"/>

    <xs:complexType name="ObservationFileType">
        <xs:attribute name="filename" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The file name.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="filetype" use="required">
            <xs:annotation>
                <xs:documentation>The type of the file.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="dcm"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="checksum_method" use="required">
            <xs:annotation>
                <xs:documentation>The checksum method.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="MD5">
                        <xs:annotation>
                            <xs:documentation> Checksum generated by the MD5 method (md5sum in unix).</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="checksum" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The file checksum.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="unencrypted_checksum" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>The checksum of the unencrypted file (used in conjunction with the checksum of an encrypted file).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="checklist" type="xs:string">
            <xs:annotation>
                <xs:documentation>The name of the checklist.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ObservationSetType">
        <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="OBSERVATION" type="ObservationType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DomainType">
        <xs:complexContent>
            <xs:extension base="bp:SampleType">
            <xs:choice>
                <xs:element name="IMAGE"></xs:element>
            </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ObserverType">
        <xs:annotation>
            <xs:documentation>
                An observer.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AUTHOR_ID" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        An identification of the author that performed the Observation. This can state anonymized, pseudoanonymized or person related identification.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CERTANTY" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        A status indicating the certainty of the observation.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PROPABILITY" type="xs:float" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        A probability of the observation output.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AIObserverType">
        <xs:annotation>
            <xs:documentation>
                An AI observer.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ObserverType">
                <xs:sequence>
                    <xs:element name="AIMODEL_REF" type="com:RefObjectType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                A reference to the BP AI Model that was used to generate the Observation. Only mandatory if the Observation Status == Machine.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ONSITE_AI_MODEL_DESCRIPTION" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                A description of the on-site AI Model that was used to detect the Observation. Only mandatory if the Observation Status == Machine.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ObserverSetType">
        <xs:annotation>
            <xs:documentation>
                A set of observers.
            </xs:documentation>
        </xs:annotation>
            <xs:sequence minOccurs="1">
                <xs:element name="OBSERVER" type="ObserverType" maxOccurs="unbounded" />
                <xs:element name="AI_OBSERVER" type="AIObserverType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PathologicalStatementType">
        <xs:annotation>
            <xs:documentation> The specific type of the Statement </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="CLINICAL_INFORMATION" />
            <xs:element name="INTRAOPERATIVE_OBSERVATION"/>
            <xs:element name="MACROSCOPIC_OBSERVATION"/>
            <xs:element name="MACROSCOPIC_OBSERVATION_PATTERN"/>
            <xs:element name="DIAGNOSIS"/>
            <xs:element name="FINDING_NON_CLINICAL"/>
            <xs:element name="AUXILLARY_STUDY"/>
            <xs:element name="IMAGE_FEATURES"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="StatementStatusType">
        <xs:choice>
            <xs:element name="SUMMARY" />
            <xs:element name="SINGULAR"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="ObservationStatmentType">
        <xs:annotation>
            <xs:documentation>
                An observation statement.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="0">
                <xs:element name="TYPE" type="PathologicalStatementType" maxOccurs="1" />
                <xs:element name="STATUS" type="StatementStatusType" maxOccurs="1" />
                <xs:element name="DOMAIN" type="DomainType" maxOccurs="1" />
                <xs:element name="ATTRIBUTES" type="bp:AttributeSetType" maxOccurs="1" />
                <xs:element name="DESCRIPTION" type="xs:string" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ObservationStatmentSetType">
        <xs:annotation>
            <xs:documentation>
                A set of observation statements.
            </xs:documentation>
        </xs:annotation>
            <xs:sequence minOccurs="1">
                <xs:element name="OBSERVATION_STATEMENT" type="ObservationStatmentType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ObservationTypeType">
        <xs:annotation>
            <xs:documentation> The specific type of the observation</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="GLOBAL_CLINICAL_FINDINGS" />
            <xs:element name="INSTANCE_CLINICAL_FINDIGS"/>
            <xs:element name="GLOBAL_OUTCOME_INFORMATION"/>
            <xs:element name="INSTANCE_OUTCOME_INFORMATION"/>
            <xs:element name="GLOBAL_CLINICAL_DIAGNOSIS"/>
            <xs:element name="INSTANCE_CLINICAL_DIAGNOSIS"/>
            <xs:element name="PATHOLOGICAL_SUMMARY_REPORT"/>
            <xs:element name="GLOBAL_MACROSCOPIC_OBSERVATION"/>
            <xs:element name="INSTANCE_MACROSCOPIC_OBSERVATION"/>
            <xs:element name="GLOBAL_MICROSCOPIC_OBSERVATION"/>
            <xs:element name="INSTANCE_MICROSCOPIC_OBSERVATION"/>
            <xs:element name="GLOBAL_PATHOLOGICAL_DIAGNOSIS"/>
            <xs:element name="INSTANCE_PATHOLOGICAL_DIAGNOSIS"/>
        </xs:choice>
    </xs:complexType>

    <xs:element name="OBSERVATION_SET" type="ObservationSetType">
        <xs:annotation>
            <xs:documentation>A container of observation objects.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="OBSERVATION" type="ObservationType"/>
    <xs:complexType name="ObservationType">
        <xs:annotation>
            <xs:documentation>A BP observation object captures observation objects.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="com:ObjectType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="TITLE" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Title of the observation object which will be displayed in search results.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="DESCRIPTION" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Describes the observation in detail.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="STUDY_REF" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Identifies the parent study.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="com:RefObjectType"> </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="SAMPLE_REF" maxOccurs="unbounded" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>One of more samples associated with the observation.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="com:RefObjectType">
                                    <xs:attribute name="label" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation></xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ANNOTATION_REF" maxOccurs="unbounded" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>One of more annotations associated with the observation.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="com:RefObjectType">
                                    <xs:attribute name="label" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation></xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="OBSERVATION_REF" maxOccurs="unbounded" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>One of more observations associated with the observation.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="com:RefObjectType">
                                    <xs:attribute name="label" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation></xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="IMAGE_REF" maxOccurs="unbounded" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>One of more images associated with the observation.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="com:RefObjectType">
                                    <xs:attribute name="label" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation></xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="FILES">
                        <xs:annotation>
                            <xs:documentation>Files associated with the observation.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="1" name="FILE" type="ObservationFileType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="OBSERVATION_LINKS">
                        <xs:annotation>
                            <xs:documentation> Links to resources related to this observation.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence minOccurs="1">
                                <xs:element name="OBSERVATION_LINK" type="com:LinkType"
                                    maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="OBSERVATION_ATTRIBUTES">
                        <xs:annotation>
                            <xs:documentation>Properties and attributes of an observation. These can be entered as free-form tag-value pairs.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence minOccurs="1">
                                <xs:element name="OBSERVATION_ATTRIBUTE" type="com:AttributeType" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="OBSERVATION_CODED_ATTRIBUTES">
                        <xs:annotation>
                            <xs:documentation>Coded properties and attributes of an observation. These can be entered as tag-coded value pairs.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence minOccurs="1">
                                <xs:element name="OBSERVATION_CODED_ATTRIBUTE" type="bp:CodedAttributeType" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="OBSERVATION_ATTRIBUTE_SETS">
                        <xs:annotation>
                            <xs:documentation>Sets of properties and attributes of an observation.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence minOccurs="1">
                                <xs:element name="OBSERVATION_ATTRIBUTE_SET" type="bp:AttributeSetType" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="OBSERVATION_OBSERVER_SET" type="ObserverSetType">
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="OBSERVATION_STATEMENT_SET" type="ObservationStatmentSetType">
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="OBSERVATION_TYPE" type="ObservationTypeType">
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="observation_center" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>If applicable, the center name of the institution responsible for this observation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="observation_date" type="xs:dateTime" use="optional">
                    <xs:annotation>
                        <xs:documentation>The date when this observation was produced.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
