src/BP.observation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:sra="SRA.common" xmlns:bp="BP.common">
    <xs:import namespace="SRA.common" schemaLocation="SRA.common.xsd"/>
    <xs:import namespace="BP.common" schemaLocation="BP.common.xsd"/>


    <xs:complexType name="ObserverType">
        <xs:annotation>
            <xs:documentation>A BP observer object describes the observer that has performed an observation.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="bp:BPObjectType">
                <!-- TBD -->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ObserverSetType">
        <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="OBSERVER" type="ObserverType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="OBSERVER_SET" type="ObserverSetType">
        <xs:annotation>
            <xs:documentation>A container of observer objects.</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="OBSERVER" type="ObserverType"/>

    <xs:complexType name="StatementType">
        <xs:annotation>
            <xs:documentation>A BP statement object describes the statments for an observeration.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="STATEMENT_TYPE" >
                <xs:annotation>
                    <xs:documentation>The type of the statement.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Diagnosis">
                            <xs:annotation>
                                <xs:documentation></xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="Macroscopic Description">
                            <xs:annotation>
                                <xs:documentation></xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="Microscopic Description">
                            <xs:annotation>
                                <xs:documentation></xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="Finding">
                            <xs:annotation>
                                <xs:documentation></xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="STATEMENT_STATUS" >
                <xs:annotation>
                    <xs:documentation>The status of the statement.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Summary">
                            <xs:annotation>
                                <xs:documentation>Integrating downstream information into the statement about the given entity, thereby the statement is not necessarily true for all downstream entities (e.g. BP Images) but only true for the entire collection/set of downstream or related entities.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="Distinct">
                            <xs:annotation>
                                <xs:documentation>The statement is true for the entity it is related to and all downstream entities.</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CODED_ATTRIBUTES_SET" minOccurs="1" maxOccurs="1" type="bp:BPCodedAttributesType" nillable="true">
                <xs:annotation>
                    <xs:documentation>These types of attributes refer to attributes that can be coded by the means of some internationally or at least published schema, classification, nomenclature or ontology. They comprise the same functionality as all `CodedAttributeTypes` in the BP XSD Schema. As the complexity of a pathological statement can be in many instances not be coded using only one Ontology/Classifiation/Nomenclature (I.e. ICDO + TNM or multiple SEND/CDISC Variables) it was decided that one can add multiple coded Attributes to a given statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CUSTOM_ATTRIBUTES_SET" minOccurs="1" maxOccurs="1" type="bp:BPAttributesType" nillable="true">
                <xs:annotation>
                    <xs:documentation>These types of attributes refer to information which can be stored by the means of a 'TAG' > 'VALUE' concept. All different types of BP XSD Schema Attributes can be used here.  As the complexity of a pathological statement can require a set of Custom Attributes (I.e. set of customly defined morphological descriptors) it was decided that multiple Custom Attributes can be assigend to a given statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FREETEXT" minOccurs="1" maxOccurs="1" type="xs:string" nillable="true">
                <xs:annotation>
                    <xs:documentation>This section of a statement comprises information that is only available as free text. It should be used to store original unparsed data, extracted from some source.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ATTRIBUTES" minOccurs="1" maxOccurs="1" type="bp:BPAttributesType" nillable="true">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ObservationSetType">
        <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="OBSERVATION" type="ObservationType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="OBSERVATION_SET" type="ObservationSetType">
        <xs:annotation>
            <xs:documentation>A container of observation objects.</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="OBSERVATION" type="ObservationType"/>

    <xs:complexType name="ObservationType">
        <xs:annotation>
            <xs:documentation>A BP observation object captures observation objects.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="bp:BPObjectType">
                <xs:sequence>
                    <xs:element name="STUDY_REF" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Identifies the parent study.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="sra:RefObjectType"> </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="OBSERVED_ON" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                            <xs:choice>
                                <xs:element name="ANNOTATION">
                                    <xs:annotation>
                                        <xs:documentation>Identifies the referenced annotation.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:complexContent>
                                            <xs:extension base="sra:RefObjectType"> </xs:extension>
                                        </xs:complexContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="CASE">
                                    <xs:annotation>
                                        <xs:documentation>Identifies the referenced case.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:complexContent>
                                            <xs:extension base="sra:RefObjectType"> </xs:extension>
                                        </xs:complexContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="BIOLOGICALBEING">
                                    <xs:annotation>
                                        <xs:documentation>Identifies the referenced biological being.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:complexContent>
                                            <xs:extension base="sra:RefObjectType"> </xs:extension>
                                        </xs:complexContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="SPECIMEN">
                                    <xs:annotation>
                                        <xs:documentation>Identifies the referenced specimen.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:complexContent>
                                            <xs:extension base="sra:RefObjectType"> </xs:extension>
                                        </xs:complexContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="BLOCK">
                                    <xs:annotation>
                                        <xs:documentation>Identifies the referenced block.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:complexContent>
                                            <xs:extension base="sra:RefObjectType"> </xs:extension>
                                        </xs:complexContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="SLIDE">
                                    <xs:annotation>
                                        <xs:documentation>Identifies the referenced slide.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:complexContent>
                                            <xs:extension base="sra:RefObjectType"> </xs:extension>
                                        </xs:complexContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="IMAGE">
                                    <xs:annotation>
                                        <xs:documentation>Identifies the referenced image.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:complexContent>
                                            <xs:extension base="sra:RefObjectType"> </xs:extension>
                                        </xs:complexContent>
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="OBSERVER" maxOccurs="unbounded" minOccurs="1" nillable="true">
                        <xs:annotation>
                            <xs:documentation>Identifies the observer.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="sra:RefObjectType"> </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="STATEMENT" maxOccurs="1" minOccurs="1" type="StatementType">
                        <xs:annotation>
                            <xs:documentation>The statement for the observation.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
