src/BP.staining.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bp="BP.common">
  <xs:import namespace="BP.common" schemaLocation="BP.common.xsd"/>

  <xs:complexType name="StainType">
    <xs:annotation>
      <xs:documentation>
        Describes a stain for a slide. Cant be referenced.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bp:BPObjectType">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="StainSetType">
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="STAIN" type="StainType"/>
      </xs:sequence>
  </xs:complexType>

  <xs:element name="STAIN_SET" type="StainSetType">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
    </xs:annotation>

  </xs:element>

  <xs:element name="STAIN" type="StainType"/>

</xs:schema>
