src/BP.staining.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bp="BP.common">
  <xs:import namespace="BP.common" schemaLocation="BP.common.xsd"/>

  <xs:complexType name="StainType">
    <xs:annotation>
      <xs:documentation>
        Describes a stain for a slide. Cant be referenced.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ATTRIBUTES" minOccurs="0" maxOccurs="1" type="bp:BPAttributesType">
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StainingsType">
    <xs:annotation>
      <xs:documentation>
        Contains one or more stains for a slide. Can be referenced from a slide.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bp:BPObjectType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="STAIN" type="StainType"/>
      </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StainingsSetType">
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="STAININGS" type="StainingsType"/>
      </xs:sequence>
  </xs:complexType>

  <xs:element name="STAININGS_SET" type="StainingsSetType">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
    </xs:annotation>

  </xs:element>

  <xs:element name="STAININGS" type="StainingsType"/>

</xs:schema>
