src/EGA.dataset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2018 EMBL - European Bioinformatics Institute
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
  ~ file except in compliance with the License. You may obtain a copy of the License at
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~ Unless required by applicable law or agreed to in writing, software distributed under the
  ~ License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  ~ CONDITIONS OF ANY KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations under the License.
  -->

<!-- version:1.11.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="SRA.common">
	<xs:import schemaLocation="SRA.common.xsd" namespace="SRA.common"/>

	<xs:complexType name="DatasetType">
		<xs:annotation>
			<xs:documentation>Describes an object that contains the samples in the data set.
    </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="com:ObjectType">
			  <xs:sequence>
                
					<xs:element name="TITLE" maxOccurs="1" minOccurs="1" type="xs:string">
						<xs:annotation>
						  <xs:documentation>The title of the Dataset.</xs:documentation>
                          <xs:explanation>(with optional type sub-properties). Default can be generated from other public metadata attributes, for example "CONTROLLER SPECIES ORGAN pathology data".</xs:explanation>
						</xs:annotation>
					</xs:element>


              </xs:sequence> 
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    
	<xs:complexType name="DatasetsType">
		<xs:sequence maxOccurs="unbounded" minOccurs="1">
			<xs:element ref="DATASET"/>
		</xs:sequence>
	</xs:complexType>
    
	<xs:element name="DATASETS" type="DatasetsType">
		<xs:annotation>
			<xs:documentation>Container for a set of data sets.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
    
	<xs:element name="DATASET" type="DatasetType"/>
</xs:schema>
