src/SRA.common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2018 EMBL - European Bioinformatics Institute
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
  ~ file except in compliance with the License. You may obtain a copy of the License at
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~ Unless required by applicable law or agreed to in writing, software distributed under the
  ~ License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  ~ CONDITIONS OF ANY KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations under the License.
  -->

<!-- version:1.11.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="SRA.common"
    targetNamespace="SRA.common">

    <xs:complexType name="ObjectType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IDENTIFIERS" type="com:IdentifierType"/>
        </xs:sequence>
        <xs:attribute name="alias" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Submitter designated name for the object. The name must be unique within the submission account.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="center_name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The center name of the submitter.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="broker_name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The center name of the broker.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accession" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The object accession assigned by the archive.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="RefObjectType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IDENTIFIERS" type="com:IdentifierType"/>
        </xs:sequence>
        <xs:attribute name="refname" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Identifies an object by name within the namespace defined by attribute "refcenter".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="refcenter" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The namespace of the attribute "refname".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accession" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Identifies a record by its accession.  The scope of resolution is the entire Archive.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:attributeGroup name="NameGroup">
        <xs:attribute name="alias" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Submitter designated name of the SRA document of this type.  At minimum alias should
                    be unique throughout the submission of this document type.  If center_name is specified, the name should
                    be unique in all submissions from that center of this document type.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="center_name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Owner authority of this document and namespace for submitter's name of this document. 
                    If not provided, then the submitter is regarded as "Individual" and document resolution
                    can only happen within the submission.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="broker_name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Broker authority of this document.  If not provided, then the broker is considered "direct".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accession" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The document's accession as assigned by the Home Archive.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:attributeGroup name="RefNameGroup">
        <xs:attribute name="refname" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Identifies a record by name that is known within the namespace defined by attribute "refcenter"
                    Use this field when referencing an object for which an accession has not yet been issued.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="refcenter" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The center namespace of the attribute "refname". When absent, the namespace is assumed to be the current submission.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accession" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Identifies a record by its accession.  The scope of resolution is the entire Archive.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:complexType name="NameType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="label" use="optional" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Alternative/explanatory description of the same object/identifier.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="QualifiedNameType">
        <xs:simpleContent>
            <xs:extension base="com:NameType">
                <xs:attribute name="namespace" use="required" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>A string value that constrains the domain of named
                            identifiers (namespace). </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="IdentifierType">
        <xs:annotation>
            <xs:documentation>Set of record identifiers.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PRIMARY_ID" type="com:NameType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>A primary identifier in the INSDC namespace.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SECONDARY_ID" type="com:NameType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A secondary identifier in the INSDC namespace.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EXTERNAL_ID" type="com:QualifiedNameType" minOccurs="0"
                maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>An identifer rom a public non-INSDC resource.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SUBMITTER_ID" type="com:QualifiedNameType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>A submitter provided identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UUID" type="com:NameType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A universally unique identifier that requires no namespace.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="XRefType">
        <xs:all>
            <xs:element name="DB" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation> INSDC controlled vocabulary of permitted cross references.
                        Please see http://www.insdc.org/db_xref.html . For example, FLYBASE. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ID" minOccurs="1" maxOccurs="1" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                            Accession in the referenced database.    For example,  FBtr0080008 (in FLYBASE).
                        </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LABEL" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                            Text label to display for the link.
                        </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="URLType">
        <xs:all>
            <xs:element name="LABEL" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Text label to display for the link.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="URL" minOccurs="1" maxOccurs="1" type="xs:anyURI">
                <xs:annotation>
                    <xs:documentation>
                        The internet service link (file:, http:, ftp:, etc).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="AttributeType">
        <xs:annotation>
            <xs:documentation>
                Reusable attributes to encode tag-value pairs with optional units.
            </xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="TAG" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Name of the attribute.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VALUE" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Value of the attribute.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UNITS" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Optional scientific units.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="LinkType">
        <xs:annotation>
            <xs:documentation>
                Reusable external links type to encode URL links, Entrez links, and db_xref links.
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="URL_LINK">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="LABEL" type="xs:string" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    Text label to display for the link.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="URL" minOccurs="1" maxOccurs="1" type="xs:anyURI">
                            <xs:annotation>
                                <xs:documentation> The internet service link (file:, http:, ftp: etc). </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="XREF_LINK" type="com:XRefType"/>

            <xs:element name="ENTREZ_LINK">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="DB" type="xs:string" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    NCBI controlled vocabulary of permitted cross references.  Please see http://www.ncbi.nlm.nih.gov/entrez/eutils/einfo.fcgi? .
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:choice>
                            <xs:element name="ID" type="xs:nonNegativeInteger" minOccurs="1"
                                maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Numeric record id meaningful to the NCBI Entrez system.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="QUERY" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Accession string meaningful to the NCBI Entrez system.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:choice>
                        <xs:element name="LABEL" type="xs:string" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    How to label the link.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:choice>
    </xs:complexType>



    <xs:complexType name="PlatformType">
        <xs:annotation>
            <xs:documentation> The scanning PLATFORM ?</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="company X, tile-based scanners">
                <xs:annotation>
                    <xs:documentation> tbd </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="INSTRUMENT_MODEL" maxOccurs="1" minOccurs="1"
                            type="com:typeXmodel"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
           
        </xs:choice>

    </xs:complexType>



    <xs:complexType name="PipelineType">
        <xs:annotation>
            <xs:documentation> The PipelineType identifies the sequence or tree of actions to
                process the WSI data. </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="PIPE_SECTION" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="STEP_INDEX" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>
                                    Lexically ordered  value that allows for the pipe section to be hierarchically ordered.  The float primitive data type is
                                    used to allow for pipe sections to be inserted later on.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="PREV_STEP_INDEX" type="xs:string" nillable="true"
                            minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    STEP_INDEX of the previous step in the workflow.  Set toNIL if the first pipe section.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="PROGRAM" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>
                                    Name of the program or process for primary analysis.   This may include a test or condition
                                    that leads to branching in the workflow.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="VERSION" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>
                                    Version of the program or process for primary analysis. 
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="NOTES" type="xs:string" maxOccurs="1" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    Notes about the program or process for primary analysis. 
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="section_name" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>
                                Name of the processing pipeline section.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="ProcessingType">
        <xs:sequence>
            <xs:element name="PIPELINE" type="com:PipelineType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation> Generic processing pipeline specification. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DIRECTIVES" type="com:DirectivesType" minOccurs="0"
                maxOccurs="1">
                <xs:annotation>
                    <xs:documentation> Processing directives tell BIGPICTURE how to
                        treat the input data, if any treatment is requested. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- STRING ENUMERATIONS BEGIN -->
    <xs:simpleType name="typeXmodel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="new and shiny"/>
            <xs:enumeration value="old and trushworthy"/>
            <xs:enumeration value="unspecified"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- STRING ENUMERATIONS END -->

</xs:schema>
